
// 色設定に関する引数

// 基本カラー
$base_font_color: #272850;
$base_bg_color:  #f4fffa;

// header
$header_height: 180px;
$header_bg-color: #d2e9f3;

// footer
$footer_heigth: 50px;
$footer_lineheight: 30px;
$footer_bg_color: $header_bg-color;


// formまわり
$header_box: 80px;
$button_height: 25px;