@charset "UTF-8";

@import "layout_param";

// 基本レイアウト
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: $base_font_color;
  background-color: $base_bg_color;
  width: 100%;
  height: 100vh;
}
li{
  list-style-type: none;
}
.container{
  max-width: 1024px;
  margin: 0 auto;
}
article{
  width: 100%;
  height: calc(100vh - #{$footer_heigth});
  padding-top: $header_height + 20px;
}
footer{
  position: fixed;
  width: 100%;
  height: $footer_heigth;
  line-height: $footer_lineheight;

  padding:calc((#{$footer_heigth} - #{$footer_lineheight}) / 2) 0;
  background-color: $footer_bg_color;

  border-top: 2px solid darken($color: $footer_bg_color, $amount: 20%);
}

// header のレイアウト
p.attention{
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: $base_bg_color;
}

header{
  position: fixed;
  width: 100%;
  height: $header_height;
  background-color: $header_bg_color;

  border-bottom: 2px solid darken($color: $header_bg_color, $amount: 20%);

  padding: 30px 0;
}
form.chat_post{
  float: left;
  width: 70%;
}

header input[type="submit"]{
  height: $button_height;
}


.header_box{
  padding: calc((#{$header_box} - #{$button_height}) / 2) 0;
  height: $header_box;
}
.chat_user{
  float: right;
  width: 30%;
  height: $header_box;
}
.chat_user p{
  padding: calc((#{$header_box} - #{$button_height}) / 2) 0;
}
// float を切る
header::after{
  content: '';
  display: block;
  clear: both;
}


// ログ表示部分のレイアウト
.chat_logs_view{
  margin-bottom: 80px;
  ul{
    display: block;
    border-bottom:1px solid rgba(129, 194, 222, 0.5);
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  ul li{
    display: inline-block;
    &:nth-child(1)::after{
      content: 'さんの発言：';
    }
    &:nth-child(3){
      display: block;
      color: rgba($base_font_color, 0.6);
    }
  }
}
